<%- include('header'); -%>
<!-- Card -->
<div class="card">

  <!-- Card body -->
  <div class="card-body">

    <!-- Material form register -->
    <form action="/acc_authentication" method="POST" >
      <p class="h4 text-center py-4" style="text-align: center;">Xác thực tài khoản</p>

      <!-- Material input password -->
      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="materialFormCardPasswordEx" class="form-control" name = "newPassword">
        <label for="materialFormCardPasswordEx" class="font-weight-light">Mặt trước CMND</label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="materialFormCardPasswordEx" class="form-control" name = "confirmPassword">
        <label for="materialFormCardPasswordEx" class="font-weight-light">Mặt sau CMND</label>
      </div>

      <div class="text-center py-4 mt-3">
        <button class="btn btn-cyan" type="submit">Xác thực</button>
      </div>
    </form>
    <!-- Material form register -->

  </div>
  <!-- Card body -->

</div>
<!-- Card -->
<%- include('footer'); -%>