<%- include('header'); -%>
        <label>Ảnh cmnd mặt trước</label>
        <form id="uploadForm" enctype="multipart/form-data"action="/acc_authentication/frontUpload"method="post">
        <input type="file" name="frontImage" multiple />
        <input type="submit" value="Upload Image" name="submit">
        <span id = "status"></span></br>
        </form>
        <label>Ảnh cmnd mặt sau</label>
        <form id="uploadForm" enctype="multipart/form-data"action="/acc_authentication/backsideUpload"method="post">
        <input type="file" name="backImage" multiple />
        <input type="submit" value="Upload Image" name="submit">
        <span id = "status"></span>
        </form>
        
<%- include('footer'); -%>