<%- include('header'); -%>


<!-- Default form login -->
<div class="authincation section-padding">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-xl-5 col-md-6">
                            <div class="mini-logo text-center my-5">
                                <img src="images/ACB_Logo.png" alt="" style=" height: 45px">
                            </div>
                        <div class="auth-form card">
                            <div class="card-header justify-content-center">
                                <h4 class="card-title">Đổi mật khẩu</h4>
                            </div>
                            <div class="card-body">
                                <form method="post" name="myform" class="signin_validate"action="/changePassword">
                                    <div class="form-group">
                                        <label>Mật khẩu mới</label>
                                            <!-- Email -->
                                         <input type="password" name = "newPassword" class="form-control" placeholder="Mật khẩu mới" >
                                    </div>
                                    <div class="form-group">
                                        <label>Nhập lại mật khẩu</label>
                                         <input type="password"   name = "confirmPassword" class="form-control" placeholder="Nhập lại mật khẩu">
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success btn-block">Đổi mật khẩu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Default form login -->
<%- include('footer'); -%>