<%- include('header'); -%>
<!-- Card -->
<div class="card">

  <!-- Card body -->
  <div class="card-body">

    <!-- Material form register -->
    <form action="/changePassword" method="POST" >
      <p class="h4 text-center py-4" style="text-align: center;">Đổi mật khẩu</p>

      <!-- Material input password -->
      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="materialFormCardPasswordEx" class="form-control" name = "newPassword">
        <label for="materialFormCardPasswordEx" class="font-weight-light">Mật khẩu mới</label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="materialFormCardPasswordEx" class="form-control" name = "confirmPassword">
        <label for="materialFormCardPasswordEx" class="font-weight-light">Nhập lại mật khẩu</label>
      </div>

      <div class="text-center py-4 mt-3">
        <button class="btn btn-cyan" type="submit">Change</button>
      </div>
    </form>
    <!-- Material form register -->

  </div>
  <!-- Card body -->

</div>
<!-- Card -->
<%- include('footer'); -%>