
</div>
</div>
</div>
</main>
<!-- Footer -->
<footer class="page-footer font-small blue center" style="text-align: center;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Ngân hàng</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  <!-- jQuery -->
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="javascripts/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="javascripts/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>
  
  <script src="javascripts/style.js"></script>

</body>
</html>