


   <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/waves/waves.min.js"></script>

    <script src="/vendor/owlcarousel/js/owl.carousel.min.js"></script>
    <script src="/javascripts/js/plugins/owl-carousel-init.js"></script>
    <script src="/vendor/scrollit/scrollIt.js"></script>
    <script src="/javascripts/js/plugins/scrollit-init.js"></script>

    <!-- Chart sparkline plugin files -->
    <script src="/vendor/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="/javascripts/js/plugins/sparkline-init.js"></script>

    <script src="/vendor/validator/jquery.validate.js"></script>
    <script src="/vendor/validator/validator-init.js"></script>
    <script src="/javascripts/js/scripts.js"></script>

    <script src="/javascripts/js/settings.js"></script>
    <script src="/javascripts/js/quixnav-init.js"></script>
    <script src="/javascripts/js/styleSwitcher.js"></script>
<!-- Mirrored from quixlab.com/demo/elaenia/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Jul 2020 02:37:22 GMT -->
<script>
//Show image front
    $(document).ready(function() {
      $('#uploadForm').submit(function() {
          $("#status").empty().text("File is uploading...");
          $(this).ajaxSubmit({
              error: function(xhr) {
            status('Error: ' + xhr.status);
              },
              success: function(response) {
          console.log(response)
              $("#status").empty().text(response);
              }
      });
      return false;
      });    
  });
//Show image back
    $(document).ready(function() {
      $('#uploadFormBack').submit(function() {
          $("#statusBack").empty().text("File is uploading...");
          $(this).ajaxSubmit({
              error: function(xhr) {
            status('Error: ' + xhr.status);
              },
              success: function(response) {
          console.log(response)
              $("#statusBack").empty().text(response);
              }
      });
      return false;
      });    
  });
//Show or hide password
  $(document).ready(function() {
    $("#show_hide_password a").on('click', function(event) {
        event.preventDefault();
        if($('#show_hide_password input').attr("type") == "text"){
            $('#show_hide_password input').attr('type', 'password');
            $('#show_hide_password i').addClass( "fa-eye-slash" );
            $('#show_hide_password i').removeClass( "fa-eye" );
        }else if($('#show_hide_password input').attr("type") == "password"){
            $('#show_hide_password input').attr('type', 'text');
            $('#show_hide_password i').removeClass( "fa-eye-slash" );
            $('#show_hide_password i').addClass( "fa-eye" );
        }
    });
});
  </script>
</body>
</html>