
</div>
</div>
</div>
</main>
<!-- Footer -->
<footer class="page-footer font-small blue center" style="text-align: center;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Ngân hàng</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  <!-- jQuery -->
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="javascripts/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="javascripts/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>
  
  <script src="javascripts/style.js"></script>

  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#uploadForm').submit(function() {
          $("#status").empty().text("File is uploading...");
          $(this).ajaxSubmit({
              error: function(xhr) {
            status('Error: ' + xhr.status);
              },
              success: function(response) {
          console.log(response)
              $("#status").empty().text(response);
              }
      });
      return false;
      });    
  });
  </script>
</body>
</html>