<%- include('header'); -%>
      <h1 class="text-default" >Xin chào </h1> 
      <a href="/login" class="text-default" >Đăng nhập </a> <br>
      <a href="/register" class="text-default" >Đăng kí </a> 
<%- include('footer'); -%>