<%- include('header'); -%>
      <h1 class="text-default" >Xin chào </h1> 
      <form method="get" action="/login">
            <button  class="btn btn-success pl-5 pr-5" type="submit">Đăng nhập</button>
      </form>
<%- include('footer'); -%>