<%-include('header')-%>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/page404.css">
<%-include('nav')-%>
  <div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">Có lẽ bạn chưa xác thực tài khoản  hoặc tài khoản bị khóa<p>Đi tới trang xác thực <a href="/acc_authentication">Xác thực</a></p></div>
</div>
<script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
<%-include('footer')-%>