<%- include('header'); -%>

<!-- Default form register -->
<form class="text-center border border-light p-5" action="/register" method="POST" style="text-align: center;">
    <p class="h4 mb-4">Đăng kí</p>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" name = "email" >

    <!-- displayName-->
    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Tên hiển thị" aria-describedby="defaultRegisterFormPhoneHelpBlock" name = "displayName"></br>
    <!-- paperType-->
    <select class="browser-default custom-select" name = "paperType">
        <option selected value="CMND">CMND</option>
        <option value="CCCD">CCCD</option>
        <option value="passPort">Hộ chiếu</option>
    </select>
    <!-- Number Paper-->
    </br>.<input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Số giấy tờ" aria-describedby="defaultRegisterFormPhoneHelpBlock" name = "numberPaper"></br>
    <!-- Date range -->
    <div class="md-form md-outline input-with-post-icon datepicker" id="customDays">
        <input placeholder="Ngày cấp" type="date" name="dateRange" id="Customization" class="form-control">
        <i class="fas fa-calendar input-prefix " tabindex=0></i>
    </div></br>
    <!-- Number Paper-->
    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Số tài khoản" aria-describedby="defaultRegisterFormPhoneHelpBlock" name = "accountNumber"></br>
    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

    <!-- Social register -->
    <p>or sign up with:</p>

    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

    <hr>

    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>

</form>
<!-- Default form register -->

<%- include('footer'); -%>