body{
    background-color: #3a3361; 
}

.emp-profile{
    padding: 3%;
    
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background:#7c74a8;
    
}
.frmrgtaccount{
    width:500px;
    
}
.showinfo{
    margin-top: 50px;
    margin-left: 15px;
    font-size: 20px;
}
.btnreg{
    background-color: #566ba0;
    color: #ffffff;
    width: 250px;
    font-size: 20px;
    text-shadow: 2px 2px 5px #000000;
}
.ulcustom{
    background-color: #7c74a8;
    /* border: 2px solid red; */
  border-radius: 5px;
}
.licustom{
    margin-bottom: 5px;
    border-radius: 5px;
}
.labelcustom{
    color:black
}
.buttontk{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #954e97;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
.btnconfirm{
    margin-left: 100px;
    width: 300px;
    background-color: #566ba0;
    text-shadow: 2px 2px 5px #000000;
}
.textaleart{
    color: #ffbfbf;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}
.buttontk:hover {
    background-color: #a73259;
    color: white;
    box-shadow: 0 9px #999;
}
.buttontk:disabled{
background-color: #050404;
color: white;
box-shadow: 0 9px #999;
}
.buttontk:active {
background-color: #a73259;
box-shadow: 0 10px #666;
transform: translateY(4px);

}

.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: 0%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-head h2{
    color:white;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
} */
.profile-img .file input {
    position: absolute;
    opacity: 2;
    right: -1px;
    top: 22px;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 20px;
    color: #818182;
    
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
    font-size: 20px;

    color: black;
    text-shadow: 1px 1px 5px #ffffffe6;

}
.profile-tab p{
    font-weight: 600;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
}
.h3title,  .h3info{
    color:white;    
    font-size: 27px;
      
    margin-left: 20px;
  
}

.h3info{
    float:right;
    margin-right: 20px;
}
